.navbar{
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}


/* .nav-link ul{
  display: flex;
  gap: 25px;
  list-style-type: none;
  cursor: pointer;
  font-size: 20px;
} */

.nav-link ul li:hover{
  color: #000;
  font-weight: bolder;
}

.leaders-page{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.profile-pic{
  border: 1px solid #ff4d01;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.comment{
  overflow: scroll;
}
.comment::-webkit-scrollbar{
  display: none;
}